* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* font-family: 'Noto Sans', sans-serif; */
}
.site-main {
  flex-grow: 1;
}
.container {
  max-width: 1260px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}
/* header */
.site-header {
  background-color: #163a24;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav-item {
  list-style: none;
}
.site-nav-item:not(:last-child) {
  margin-right: 24px;
}
.site-nav-links {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #fbfaf7;
  text-decoration: none;
}
.btn {
  padding: 15px 25px;
  border: 2px solid #198c36;
  background: #198c36;
  border-radius: 160px;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.6;
}
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-content {
  width: 470px;
}
.header-bottom-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #fbfaf7;
}
.header-bottom-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fbfaf7;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
/* blog1 */
.blog1 {
  margin: 0;
  padding: 0;
  margin-top: 120px;
}
.blog1-content {
  width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog1-frame {
  width: 393px;
}
.blog1-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}
.blog1-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
}
.blog1-footer {
  max-width: 1180px;
  width: 100%;
  padding-left: 98px;
  padding-right: 98px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 113px;
}
.blog1-footer-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163a24;
  margin: auto;
  margin-bottom: 66px;
}
.blog1-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 120px;
}
/* blog2 */
.blog2 {
  background-color: #163a24;
  padding-bottom: 120px;
}
.blog2-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #fbfaf7;
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 70px;
}
.blog2-link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  /* margin-bottom: 120px; */
}
.blog2-item {
  width: 295px;
  height: 244px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.blog2-img {
  margin-bottom: 28px;
}
/* blog3 */
.blog3 {
  padding-top: 120px;
  padding-bottom: 135px;
  background-color: #f2efe6;
}
.blog3-content {
  width: 786px;
  margin: auto;
}
.blog3-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}
.blog3-text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
/* card */
.card {
  margin-bottom: 120px;
}
.card-top {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 180px;
  margin-bottom: 120px;
}
.card-top-content {
  width: 593px;
  padding: 99px;
}
.card-top-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}
.card-top-text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  margin: 0;
  padding: 0;
}
.card-top-img {
  padding-right: 98px;
  width: 492px;
  height: 423px;
}
.card-bottom {
}
.card-bottom-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}
.card-bottom-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.card-bottom-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.card-bottom-item {
  width: 353px;
  padding: 40px;
  padding-left: 15px;
  background-color: #fbfaf7;
  box-shadow: 5px 5px 20px #e9e4d5;
  border-radius: 15px;
}
.card-bottom-img {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-bottom-item h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #163a24;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}
.card-bottom-item ul {
  list-style: disc;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 26px;
}
.card-bottom-items {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #163a24;
}
/* severce */
.severce {
  background-color: #f2efe6;
  padding-top: 120px;
  padding-bottom: 120px;
}
.severce-title {
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}
.severce-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
}
.severce-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.severce-item {
  width: 262px;
  padding-top: 25px;
}
.last-item {
  margin-right: 55px;
}
.severce-item p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163a24;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}
.severce-item span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #163a24;
}
.severce-button {
  text-align: center;
  padding-top: 25px;
}
.severce-btn {
  color: #fbfaf7;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
/* section */
.section {
  margin-bottom: 120px;
}
.section-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
.section-content {
  width: 393px;
  margin: 0;
  padding: 0;
}
.section-container-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.section-container-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.btn {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fbfaf7;
}
/* section2 */
.section2 {
  background-color: #163a24;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.section2-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #fbfaf7;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}
.section2-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fbfaf7;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}
.section2-btn {
  padding: 15px 25px;
  border: 2px solid #fab5a0;
  background-color: #fab5a0;
  border-radius: 160px;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #163a24;
}
.section2-btn:hover {
  opacity: 0.8;
}
.section2-btn:active {
  opacity: 0.6;
}
/* section3 */

.section3 {
  background-color: #f2efe6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
.section3-right {
  width: 360px;
}
.section3-left {
  width: 590px;
}
.section3-right-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}
.section3-right-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  margin: 0;
  padding: 0;
}
.section-left-content {
  width: 590px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #f2efe6;
  box-sizing: border-box;
  border-radius: 255px;
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
  /* align-items: center; */
}
.section3-btn {
  margin-right: auto;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fbfaf7;
  padding: 10px 25px;
  border: 2px solid #15762e;
  background: #15762e;
  border-radius: 160px;
  text-decoration: none;
}
.section3-btn:hover {
  opacity: 0.8;
}
.section3-btn:active {
  opacity: 0.6;
}
.section-left-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-top-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #163a24;
}
.footer-top-link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer-top-item:not(:last-child) {
  margin-right: 14px;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer-bottom-title {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #163a24;
}
.footer-bottom-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-bottom-item:not(:last-child) {
  margin-right: 14px;
}
.footer-bottom-list {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #198C36;
}
